<main id='mainPic' class='container-fluid'>
	<div class='row justify-content-end align-items-center controlsDiv'>
		<div class='col-5'>
			<h1 id='index-title'>Cinema Ironhack</h1>
			<a href='/movies' class="btn btn-light">Check the movies!</a>
		</div>
	</div>
</main>