<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to our Movie Database</h1>
            <img src="https://images.pexels.com/photos/375885/pexels-photo-375885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Popcorn" >
            <a href="/movies" class="button">Explore Movies</a> 
        </div>
    </div>
</body>
</html>
