<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css"> <!-- Link your CSS file here if needed -->
</head>
<body>
    <div class="container">
        <h1>Cinema Root Learn</h1>
        <img src="../public/images/cinema.jpg" alt="Movie Image">
        <p>Discover the latest movies and showtimes</p>
        <a href="movies.hbs"><button>Check Movies</button></a>
        
    </div>
</body>
</html>
