<p>Click on the movie to check the showtimes!</p>
<div class="container">
  {{#each movies}}
    <div class="center">

      <img src={{image}} />
      <h3>{{title}}</h3>
      <a href="">See more</a>
    </div>
  {{/each}}
</div>